src/main/xsd/artifact.xsd

<xs:schema version="1.0" targetNamespace="http://genologics.com/ri/artifact" xmlns:file="http://genologics.com/ri/file" xmlns:art="http://genologics.com/ri/artifact" xmlns:udf="http://genologics.com/ri/userdefined" xmlns:ri="http://genologics.com/ri" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import namespace="http://genologics.com/ri/file" schemaLocation="file.xsd"/>
  <xs:import namespace="http://genologics.com/ri/userdefined" schemaLocation="userdefined.xsd"/>
  <xs:import namespace="http://genologics.com/ri" schemaLocation="ri.xsd"/>
  <xs:element name="artifact" type="art:artifact"/>
  <xs:element name="demux" type="art:demux"/>
  <xs:element name="artifacts" type="art:artifacts"/>
  <xs:element name="details" type="art:details"/>
  <xs:element name="demux-details" type="art:demux-details"/>
  <xs:complexType name="artifact">
    <xs:annotation>
      <xs:documentation>
        <![CDATA[The detailed representation of an Artifact.<br/><br/>
An Artifact represents the inputs to or outputs from a process. An Artifact is
classified by its type (Analyte, ResultFile, etc).<br/><br/>
Artifacts do not support HTTP POST requests.]]>
      </xs:documentation>
    </xs:annotation>
    <xs:sequence>
      <xs:element name="name" type="xs:string" minOccurs="0">
        <xs:annotation>
          <xs:documentation>
            <![CDATA[The name of the Artifact.
<br/>Always returns with GET: Yes
<br/>Updatable with PUT: Yes
<br/>Required for PUT: Yes]]>
          </xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="type" type="xs:string" minOccurs="0">
        <xs:annotation>
          <xs:documentation>
            <![CDATA[The type of Artifact.
Artifact type describes the characteristics of the Artifact. For example, the
type of the Artifact can be Analyte indicating it is a sample or submitted sample
that resides in a container. Alternately, the type could be ResultFile indicating
it is the output of instrument processing. Refer to the GenoLogics LIMS
Help file for information on process inputs and outputs.
<br/>Always returns with GET: Yes
<br/>Updatable with PUT: No
<br/>Required for PUT: No]]>
          </xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="output-type" type="xs:string" minOccurs="0">
        <xs:annotation>
          <xs:documentation>
            <![CDATA[The output-type of the Artifact. In the client, this is a custom Display Name given to the Artifact type when
configuring the process.
<br/>Always returns with GET: Yes
<br/>Updatable with PUT: No
<br/>Required for PUT: No]]>
          </xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="parent-process" type="art:parent-process" minOccurs="0">
        <xs:annotation>
          <xs:documentation>
            <![CDATA[The process that produced the Artifact.
The parent-process provides a URI linking to the detailed representation
of the process that produced the Artifact.
<br/>Always returns with GET: No, It is returned in all cases except the analyte artifact of the submitted
sample case, which by definition cannot have a parent-process
<br/>Updatable with PUT: No
<br/>Required for PUT: No]]>
          </xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="qc-flag" type="art:qc-flag" minOccurs="0">
        <xs:annotation>
          <xs:documentation>
            <![CDATA[The qc-flag applied to the Artifact.
<br/>Always returns with GET: Yes
<br/>Updatable with PUT: Yes
<br/>Required for PUT: No, but if not provided, QC is set to UNKNOWN.]]>
          </xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="location" type="ri:location" minOccurs="0">
        <xs:annotation>
          <xs:documentation>
            <![CDATA[The Artifact's location in a container.
<br/>Always returns with GET: No
<br/>Updatable with PUT: No
<br/>Required for PUT: No]]>
          </xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="working-flag" type="xs:boolean" minOccurs="0">
        <xs:annotation>
          <xs:documentation>
            <![CDATA[The working-flag of the Artifact. In the client, this is referred to as the working status of an artifact.
Working-flag indicates whether the Artifact is ready for use
in additional Processes.
<br/>Always returns with GET: No, only for Analytes
<br/>Updatable with PUT: Yes, only supported for Analyte type Artifacts.
<br/>Required for PUT: Yes, for Analyte only.]]>
          </xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="sample" type="art:sample" minOccurs="0" maxOccurs="unbounded">
        <xs:annotation>
          <xs:documentation>
            <![CDATA[A submitted sample related to the Artifact.
This element is repeated for each submitted sample that the artifact is related to.
Each Sample provides a URI linking to the detailed representation of a
submitted Sample for the Artifact.
<br/>Always returns with GET: Yes
<br/>Updatable with PUT: No
<br/>Required for PUT: No]]>
          </xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="reagent-label" type="art:reagent-label" minOccurs="0" maxOccurs="unbounded">
        <xs:annotation>
          <xs:documentation>
            <![CDATA[A reagent label applied to the Artifact.
This element is repeated for each reagent label applied to the Artifact.<br/><br/>
Reagent labels can be explicitly added to Artifacts in different ways:
<ul>
<li>in the client, when importing Samples;</li>
<li>in the client, when running any Processes for adding Reagents;</li>
<li>in the API, by updating an artifact representation to include reagent labels.</li>
</ul>
<br/><br/>
Additionally, reagent labels will be automatically copied from inputs to outputs when a Process is run.
Reagent labels are conventionally named after the type of reagent (see the Reagent Type endpoint) they correspond to.
<br/>Always returns with GET: No
<br/>Updatable with PUT: Yes
<br/>Required for PUT: No, but if not provided, reagent labels are cleared]]>
          </xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="control-type" type="art:control-type" minOccurs="0">
        <xs:annotation>
          <xs:documentation>
            <![CDATA[The control type of the Artifact. Only control sample has control type.
<br/>Always returns with GET: No, only for control sample
<br/>Updatable with PUT: No
<br/>Required for PUT: No]]>
          </xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element ref="udf:field" minOccurs="0" maxOccurs="unbounded">
        <xs:annotation>
          <xs:documentation>
            <![CDATA[A User-Defined Field that is associated with the Artifact.
This element is repeated for each UDF associated with the Artifact.
<br/>Always returns with GET: No
<br/>Updatable with PUT: Yes
<br/>Required for PUT: No, unless the UDF has been configured as required. If a current UDF is not provided, existing values are deleted.]]>
          </xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element ref="file:file" minOccurs="0">
        <xs:annotation>
          <xs:documentation>
            <![CDATA[File provides a URI linking to the detailed representation of the File associated with the Artifact.
<br/>Always returns with GET: No, however if a file is attached to a given Artifact it will be returned.
<br/>Updatable with PUT: No
<br/>Required for PUT: No, files cannot be modified through the Artifacts resource. Use the Files resource instead.]]>
          </xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="artifact-group" type="art:artifactgroup" minOccurs="0" maxOccurs="unbounded">
        <xs:annotation>
          <xs:documentation>
            <![CDATA[The artifact group that the Artifact belongs to. In the client, artifact groups are referred to as experiments.
This element is repeated for each artifact group that the Artifact belongs to.
<br/>Always returns with GET: No
<br/>Updatable with PUT: Yes
<br/>Required for PUT: No, but if not provided, existing ArtifactGroups are cleared from Artifact.]]>
          </xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="workflow-stages" minOccurs="0">
        <xs:annotation>
          <xs:documentation>
            <![CDATA[The list of workflow stages that the artifact has completed or is presently active in.
<br/>Always returns with GET: Yes
<br/>Updatable with PUT: No
<br/>Required for PUT: No]]>
          </xs:documentation>
        </xs:annotation>
        <xs:complexType>
          <xs:sequence>
            <xs:element name="workflow-stage" type="art:workflow-stage" minOccurs="0" maxOccurs="unbounded">
              <xs:annotation>
                <xs:documentation>
                  <![CDATA[The list of workflow stages that the artifact has completed or is presently active in.
<br/>Always returns with GET: Yes
<br/>Updatable with PUT: No
<br/>Required for PUT: No]]>
                </xs:documentation>
              </xs:annotation>
            </xs:element>
          </xs:sequence>
        </xs:complexType>
      </xs:element>
      <xs:element name="demux" type="art:demux-link" minOccurs="0">
        <xs:annotation>
          <xs:documentation>
            <![CDATA[Identifies the resource that will demultiplex this artifact. This will only be present if the artifact is a pool.]]>
          </xs:documentation>
        </xs:annotation>
      </xs:element>
    </xs:sequence>
    <xs:attribute name="limsid" type="xs:string">
      <xs:annotation>
        <xs:documentation>
          <![CDATA[The LIMS ID of the Artifact.
<br/>Always returns with GET: Yes
<br/>Updatable with PUT: No
<br/>Required for PUT: No]]>
        </xs:documentation>
      </xs:annotation>
    </xs:attribute>
    <xs:attribute name="uri" type="xs:anyURI">
      <xs:annotation>
        <xs:documentation>
          <![CDATA[The URI of the Artifact.
<br/>Always returns with GET: Yes
<br/>Updatable with PUT: No
<br/>Required for PUT: No]]>
        </xs:documentation>
      </xs:annotation>
    </xs:attribute>
  </xs:complexType>
  <xs:complexType name="artifactgroup">
    <xs:annotation>
      <xs:documentation>
        <![CDATA[Artifact group is a child element of Artifact and provides a URI linking to the detailed representation of the artifact group that the Artifact belongs to.
In the client, artifact groups are referred to as experiments.]]>
      </xs:documentation>
    </xs:annotation>
    <xs:attribute name="uri" type="xs:anyURI">
      <xs:annotation>
        <xs:documentation>
          <![CDATA[The URI of the artifact group.
<br/>Always returns with GET: Yes
<br/>Updatable with PUT: Yes
<br/>Required for PUT: Yes]]>
        </xs:documentation>
      </xs:annotation>
    </xs:attribute>
    <xs:attribute name="name" type="xs:string">
      <xs:annotation>
        <xs:documentation>
          <![CDATA[The name of the artifact group.
<br/>Always returns with GET: Yes
<br/>Updatable with PUT: No
<br/>Required for PUT: No]]>
        </xs:documentation>
      </xs:annotation>
    </xs:attribute>
  </xs:complexType>
  <xs:complexType name="control-type">
    <xs:annotation>
      <xs:documentation>
        <![CDATA[Provide a URI linking to the control type if this artifact is a control sample]]>
      </xs:documentation>
    </xs:annotation>
    <xs:attribute name="uri" type="xs:anyURI">
      <xs:annotation>
        <xs:documentation>
          <![CDATA[The URI of the control type.
<br/>Always returns with GET: Yes
<br/>Updatable with PUT: No
<br/>Required for PUT: No]]>
        </xs:documentation>
      </xs:annotation>
    </xs:attribute>
  </xs:complexType>
  <xs:complexType name="demux-link">
    <xs:annotation>
      <xs:documentation>
        <![CDATA[Identifies the resource that will demultiplex this artifact. This will only be present if the artifact is a pool.]]>
      </xs:documentation>
    </xs:annotation>
    <xs:attribute name="uri" type="xs:anyURI">
      <xs:annotation>
        <xs:documentation>
          <![CDATA[The URI of corresponding artifact demux resource.]]>
        </xs:documentation>
      </xs:annotation>
    </xs:attribute>
  </xs:complexType>
  <xs:complexType name="parent-process">
    <xs:annotation>
      <xs:documentation>
        <![CDATA[Parent-process is a child element of Artifact and provides a URI
linking to the detailed representation of the process that produced the Artifact.]]>
      </xs:documentation>
    </xs:annotation>
    <xs:attribute name="limsid" type="xs:string">
      <xs:annotation>
        <xs:documentation>
          <![CDATA[The LIMS ID of the process.
<br/>Always returns with GET: Yes
<br/>Updatable with PUT: No
<br/>Required for PUT: No]]>
        </xs:documentation>
      </xs:annotation>
    </xs:attribute>
    <xs:attribute name="uri" type="xs:anyURI">
      <xs:annotation>
        <xs:documentation>
          <![CDATA[The URI of the process.
<br/>Always returns with GET: Yes
<br/>Updatable with PUT: No
<br/>Required for PUT: No]]>
        </xs:documentation>
      </xs:annotation>
    </xs:attribute>
  </xs:complexType>
  <xs:complexType name="reagent-label">
    <xs:annotation>
      <xs:documentation>
        <![CDATA[Reagent-label is a child element of Artifact and provides the name of a
label or reagent that has been added to the Artifact.]]>
      </xs:documentation>
    </xs:annotation>
    <xs:attribute name="name" type="xs:string">
      <xs:annotation>
        <xs:documentation>
          <![CDATA[The name of the label or reagent.
<br/>Always returns with GET: Yes
<br/>Updatable with PUT: Yes
<br/>Required for PUT: No]]>
        </xs:documentation>
      </xs:annotation>
    </xs:attribute>
  </xs:complexType>
  <xs:complexType name="sample">
    <xs:annotation>
      <xs:documentation>
        <![CDATA[Sample is a child element of Artifact and provides a URI linking
to the detailed representation of a submitted Sample for the Artifact.]]>
      </xs:documentation>
    </xs:annotation>
    <xs:attribute name="limsid" type="xs:string">
      <xs:annotation>
        <xs:documentation>
          <![CDATA[The LIMS ID of the Sample.
<br/>Always returns with GET: Yes
<br/>Updatable with PUT: No
<br/>Required for PUT: No]]>
        </xs:documentation>
      </xs:annotation>
    </xs:attribute>
    <xs:attribute name="uri" type="xs:anyURI">
      <xs:annotation>
        <xs:documentation>
          <![CDATA[The URI of the Sample.
<br/>Always returns with GET: Yes
<br/>Updatable with PUT: No
<br/>Required for PUT: No]]>
        </xs:documentation>
      </xs:annotation>
    </xs:attribute>
  </xs:complexType>
  <xs:complexType name="workflow-stage">
    <xs:annotation>
      <xs:documentation>
        <![CDATA[Provides links to workflow stages, stage names and their respective statuses.]]>
      </xs:documentation>
    </xs:annotation>
    <xs:attribute name="uri" type="xs:anyURI">
      <xs:annotation>
        <xs:documentation>
          <![CDATA[The URI of the workflow stage.
<br/>Always returns with GET: Yes
<br/>Updatable with PUT: No
<br/>Required for PUT: No]]>
        </xs:documentation>
      </xs:annotation>
    </xs:attribute>
    <xs:attribute name="name" type="xs:string">
      <xs:annotation>
        <xs:documentation>
          <![CDATA[The name of the protocol step for this workflow stage. For QC protocols, the stage name will be the protocol name.
<br/>Always returns with GET: Yes
<br/>Updatable with PUT: No
<br/>Required for PUT: No]]>
        </xs:documentation>
      </xs:annotation>
    </xs:attribute>
    <xs:attribute name="status" type="art:status">
      <xs:annotation>
        <xs:documentation>
          <![CDATA[The status of the workflow stage.
<br/>Always returns with GET: Yes
<br/>Updatable with PUT: No
<br/>Required for PUT: No]]>
        </xs:documentation>
      </xs:annotation>
    </xs:attribute>
  </xs:complexType>
  <xs:simpleType name="qc-flag">
    <xs:annotation>
      <xs:documentation>
        <![CDATA[The qc-flag enumeration lists the possible values of the qc-flag element for the Artifact.]]>
      </xs:documentation>
    </xs:annotation>
    <xs:restriction base="xs:string">
      <xs:enumeration value="UNKNOWN"/>
      <xs:enumeration value="PASSED"/>
      <xs:enumeration value="FAILED"/>
      <xs:enumeration value="CONTINUE"/>
    </xs:restriction>
  </xs:simpleType>
  <xs:simpleType name="status">
    <xs:annotation>
      <xs:documentation>
        <![CDATA[The workflow stage status for the artifact.]]>
      </xs:documentation>
    </xs:annotation>
    <xs:restriction base="xs:string">
      <xs:enumeration value="QUEUED"/>
      <xs:enumeration value="IN_PROGRESS"/>
      <xs:enumeration value="SKIPPED"/>
      <xs:enumeration value="REMOVED"/>
      <xs:enumeration value="COMPLETE"/>
      <xs:enumeration value="REWORKED"/>
    </xs:restriction>
  </xs:simpleType>
  <xs:complexType name="demux">
    <xs:annotation>
      <xs:documentation>
        <![CDATA[The detailed representation of the demultiplexing of a pooled artifact]]>
      </xs:documentation>
    </xs:annotation>
    <xs:sequence>
      <xs:element name="artifact" type="art:demux-source-artifact" minOccurs="0">
        <xs:annotation>
          <xs:documentation>
            <![CDATA[The artifact that is being demultiplexed
<br/>Always returns with GET: Yes]]>
          </xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="demux" type="art:demux-details" minOccurs="0">
        <xs:annotation>
          <xs:documentation>
            <![CDATA[Demultiplexing of the Artifact showing all pooling steps that this artifact has been part of.<br/><br/>
<br/>Always returns with GET: Yes]]>
          </xs:documentation>
        </xs:annotation>
      </xs:element>
    </xs:sequence>
    <xs:attribute name="uri" type="xs:anyURI">
      <xs:annotation>
        <xs:documentation>
          <![CDATA[The URI of the ArtifactDemux.
<br/>Always returns with GET: Yes]]>
        </xs:documentation>
      </xs:annotation>
    </xs:attribute>
  </xs:complexType>
  <xs:complexType name="demux-source-artifact">
    <xs:attribute name="name" type="xs:string">
      <xs:annotation>
        <xs:documentation>
          <![CDATA[The name of the Artifact.
<br/>Always returns with GET: Yes
<br/>Updatable with PUT: No
<br/>Required for PUT: No]]>
        </xs:documentation>
      </xs:annotation>
    </xs:attribute>
    <xs:attribute name="uri" type="xs:anyURI">
      <xs:annotation>
        <xs:documentation>
          <![CDATA[The URI of the Artifact.
<br/>Always returns with GET: Yes
<br/>Updatable with PUT: No
<br/>Required for PUT: No]]>
        </xs:documentation>
      </xs:annotation>
    </xs:attribute>
  </xs:complexType>
  <xs:complexType name="artifacts">
    <xs:annotation>
      <xs:documentation>
        <![CDATA[The representation of a list of artifact links.<br/><br/>
The system enforces a maximum number of elements when generating the list of links. When the size of
the request result set is larger than the system maximum, the list represents a paged view of the overall
results, and the previous-page and next-page elements provide URIs linking to the previous or next page
of links in the overall results.]]>
      </xs:documentation>
    </xs:annotation>
    <xs:sequence>
      <xs:element name="artifact" type="art:artifact-link" minOccurs="0" maxOccurs="unbounded">
        <xs:annotation>
          <xs:documentation>
            <![CDATA[Artifact provides a URI linking to the detailed representation of an artifact.]]>
          </xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="previous-page" type="ri:page" minOccurs="0">
        <xs:annotation>
          <xs:documentation>
            <![CDATA[When working with large lists of artifacts,
the previous-page element provides a URI that links to the previous page of artifacts.]]>
          </xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="next-page" type="ri:page" minOccurs="0">
        <xs:annotation>
          <xs:documentation>
            <![CDATA[When working with large lists of artifacts,
the next-page element provides a URI that links to the next page of artifacts.]]>
          </xs:documentation>
        </xs:annotation>
      </xs:element>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="artifact-link">
    <xs:annotation>
      <xs:documentation>
        <![CDATA[Artifact-link is a child element type of artifacts and provides a URI linking to the detailed representation of an artifact.]]>
      </xs:documentation>
    </xs:annotation>
    <xs:attribute name="uri" type="xs:anyURI">
      <xs:annotation>
        <xs:documentation>
          <![CDATA[The URI of the artifact.]]>
        </xs:documentation>
      </xs:annotation>
    </xs:attribute>
    <xs:attribute name="limsid" type="xs:string">
      <xs:annotation>
        <xs:documentation>
          <![CDATA[The LIMSID of the artifact.]]>
        </xs:documentation>
      </xs:annotation>
    </xs:attribute>
  </xs:complexType>
  <xs:complexType name="details">
    <xs:annotation>
      <xs:documentation>
        <![CDATA[The representation of a list of resource details.]]>
      </xs:documentation>
    </xs:annotation>
    <xs:sequence>
      <xs:element name="artifact" type="art:artifact" minOccurs="0" maxOccurs="unbounded">
        <xs:annotation>
          <xs:documentation>
            <![CDATA[A list of detailed resource representations.]]>
          </xs:documentation>
        </xs:annotation>
      </xs:element>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="demux-details">
    <xs:sequence>
      <xs:element name="pool-step" type="art:pool-step" minOccurs="0">
        <xs:annotation>
          <xs:documentation>
            <![CDATA[The details of the pooling step that created the pooled sample(s).<br/>
<br/>Always returns with GET: Yes]]>
          </xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="artifacts" minOccurs="0">
        <xs:annotation>
          <xs:documentation>
            <![CDATA[The samples that the pooled sample is composed of.<br/>
<br/>Always returns with GET: Yes]]>
          </xs:documentation>
        </xs:annotation>
        <xs:complexType>
          <xs:sequence>
            <xs:element name="artifact" type="art:demux-artifact" minOccurs="0" maxOccurs="unbounded">
              <xs:annotation>
                <xs:documentation>
                  <![CDATA[The samples that the pooled sample is composed of.<br/>
<br/>Always returns with GET: Yes]]>
                </xs:documentation>
              </xs:annotation>
            </xs:element>
          </xs:sequence>
        </xs:complexType>
      </xs:element>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="demux-artifact">
    <xs:annotation>
      <xs:documentation>
        <![CDATA[Details of an individual artifact that is part of a pooled artifact.]]>
      </xs:documentation>
    </xs:annotation>
    <xs:sequence>
      <xs:element name="samples" minOccurs="0">
        <xs:annotation>
          <xs:documentation>
            <![CDATA[The submitted sample(s) that this artifact is a pool of.<br/>
<br/>Always returns with GET: Yes]]>
          </xs:documentation>
        </xs:annotation>
        <xs:complexType>
          <xs:sequence>
            <xs:element name="sample" type="art:demux-artifact-sample" minOccurs="0" maxOccurs="unbounded">
              <xs:annotation>
                <xs:documentation>
                  <![CDATA[The submitted sample(s) that this artifact is a pool of.<br/>
<br/>Always returns with GET: Yes]]>
                </xs:documentation>
              </xs:annotation>
            </xs:element>
          </xs:sequence>
        </xs:complexType>
      </xs:element>
      <xs:element name="reagent-labels" minOccurs="0">
        <xs:annotation>
          <xs:documentation>
            <![CDATA[The reagent-label(s) that have been applied to this artifact.<br/>
<br/>Always returns with GET: Yes]]>
          </xs:documentation>
        </xs:annotation>
        <xs:complexType>
          <xs:sequence>
            <xs:element name="reagent-label" type="art:reagent-label" minOccurs="0" maxOccurs="unbounded">
              <xs:annotation>
                <xs:documentation>
                  <![CDATA[The reagent-label(s) that have been applied to this artifact.<br/>
<br/>Always returns with GET: Yes]]>
                </xs:documentation>
              </xs:annotation>
            </xs:element>
          </xs:sequence>
        </xs:complexType>
      </xs:element>
      <xs:element name="demux" type="art:demux-details" minOccurs="0">
        <xs:annotation>
          <xs:documentation>
            <![CDATA[An additional level of demultiplexing if the pooled artifact was also the result of a pooling step.<br/>
<br/>Always returns with GET: No]]>
          </xs:documentation>
        </xs:annotation>
      </xs:element>
    </xs:sequence>
    <xs:attribute name="name" type="xs:string">
      <xs:annotation>
        <xs:documentation>
          <![CDATA[The name of the artifact.
<br/>Always returns with GET: Yes]]>
        </xs:documentation>
      </xs:annotation>
    </xs:attribute>
    <xs:attribute name="uri" type="xs:anyURI">
      <xs:annotation>
        <xs:documentation>
          <![CDATA[The URI of the artifact.
<br/>Always returns with GET: Yes]]>
        </xs:documentation>
      </xs:annotation>
    </xs:attribute>
  </xs:complexType>
  <xs:complexType name="demux-artifact-sample">
    <xs:annotation>
      <xs:documentation>
        <![CDATA[The details of a sample that is part of a pooled artifact.]]>
      </xs:documentation>
    </xs:annotation>
    <xs:attribute name="limsid" type="xs:string">
      <xs:annotation>
        <xs:documentation>
          <![CDATA[The LIMS ID of the sample.
<p>
<br/>Always returns with GET: Yes]]>
        </xs:documentation>
      </xs:annotation>
    </xs:attribute>
    <xs:attribute name="uri" type="xs:anyURI">
      <xs:annotation>
        <xs:documentation>
          <![CDATA[The URI of the sample.
<p>
<br/>Always returns with GET: Yes]]>
        </xs:documentation>
      </xs:annotation>
    </xs:attribute>
  </xs:complexType>
  <xs:complexType name="pool-step">
    <xs:annotation>
      <xs:documentation>
        <![CDATA[The details of the pooling step that created the pooled sample(s).]]>
      </xs:documentation>
    </xs:annotation>
    <xs:attribute name="name" type="xs:string">
      <xs:annotation>
        <xs:documentation>
          <![CDATA[The name of the pooling step.
<br/>Always returns with GET: Yes]]>
        </xs:documentation>
      </xs:annotation>
    </xs:attribute>
    <xs:attribute name="uri" type="xs:anyURI">
      <xs:annotation>
        <xs:documentation>
          <![CDATA[The URI of the pooling step.
<br/>Always returns with GET: Yes]]>
        </xs:documentation>
      </xs:annotation>
    </xs:attribute>
  </xs:complexType>
</xs:schema>
