src/main/xsd/processtype.xsd

<xs:schema version="1.0" targetNamespace="http://genologics.com/ri/processtype" xmlns:file="http://genologics.com/ri/file" xmlns:cnf="http://genologics.com/ri/configuration" xmlns:ptp="http://genologics.com/ri/processtype" xmlns:ri="http://genologics.com/ri" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import namespace="http://genologics.com/ri/file" schemaLocation="file.xsd"/>
  <xs:import namespace="http://genologics.com/ri/configuration" schemaLocation="configuration.xsd"/>
  <xs:import namespace="http://genologics.com/ri" schemaLocation="ri.xsd"/>
  <xs:element name="process-type" type="ptp:process-type"/>
  <xs:element name="process-types" type="ptp:process-types"/>
  <xs:complexType name="process-type">
    <xs:annotation>
      <xs:documentation>
        <![CDATA[The process-type element contains the XML representation of a type of process configured in the system.]]>
      </xs:documentation>
    </xs:annotation>
    <xs:sequence>
      <xs:element name="field-definition" type="cnf:field-link" minOccurs="0" maxOccurs="unbounded">
        <xs:annotation>
          <xs:documentation>
            <![CDATA[Each field definition provides a URI linking to the configuration of a user-defined field for the process type.
<br/>Always returns with GET: No]]>
          </xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="parameter" type="ptp:parameter" minOccurs="0" maxOccurs="unbounded">
        <xs:annotation>
          <xs:documentation>
            <![CDATA[Each parameter is a named value or file for the process type.
<br/>Always returns with GET: No]]>
          </xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="type-definition" type="ptp:type-definition" minOccurs="0" maxOccurs="unbounded">
        <xs:annotation>
          <xs:documentation>
            <![CDATA[Each type definition provides a URI linking to the configuration of a user-defined type for the process type.
<br/>Always returns with GET: No]]>
          </xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="process-input" type="ptp:process-input" minOccurs="0" maxOccurs="unbounded">
        <xs:annotation>
          <xs:documentation>
            <![CDATA[List of enabled inputs for this process type.
<br/>Always returns with GET: Yes]]>
          </xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="process-output" type="ptp:process-output" minOccurs="0" maxOccurs="unbounded">
        <xs:annotation>
          <xs:documentation>
            <![CDATA[List of enabled outputs for this process type.
<br/>Always returns with GET: No]]>
          </xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="process-type-attribute" type="ptp:process-type-attribute" minOccurs="0" maxOccurs="unbounded">
        <xs:annotation>
          <xs:documentation>
            <![CDATA[List of configuration attributes for this process type.
<br/>Always returns with GET: No]]>
          </xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="permitted-containers" minOccurs="0">
        <xs:annotation>
          <xs:documentation>
            <![CDATA[List of permitted containers for the master step.]]>
          </xs:documentation>
        </xs:annotation>
        <xs:complexType>
          <xs:sequence>
            <xs:element name="container-type" type="ptp:container-type-link" minOccurs="0" maxOccurs="unbounded">
              <xs:annotation>
                <xs:documentation>
                  <![CDATA[List of permitted containers for the master step.]]>
                </xs:documentation>
              </xs:annotation>
            </xs:element>
          </xs:sequence>
        </xs:complexType>
      </xs:element>
      <xs:element name="permitted-reagent-categories" minOccurs="0">
        <xs:annotation>
          <xs:documentation>
            <![CDATA[List of permitted reagent categories for the master step.]]>
          </xs:documentation>
        </xs:annotation>
        <xs:complexType>
          <xs:sequence>
            <xs:element name="reagent-category" type="xs:string" minOccurs="0" maxOccurs="unbounded">
              <xs:annotation>
                <xs:documentation>
                  <![CDATA[List of permitted reagent categories for the master step.]]>
                </xs:documentation>
              </xs:annotation>
            </xs:element>
          </xs:sequence>
        </xs:complexType>
      </xs:element>
      <xs:element name="required-reagent-kits" minOccurs="0">
        <xs:annotation>
          <xs:documentation>
            <![CDATA[List of required reagent kit tracking for the master step.]]>
          </xs:documentation>
        </xs:annotation>
        <xs:complexType>
          <xs:sequence>
            <xs:element name="reagent-kit" type="ptp:reagent-kit-link" minOccurs="0" maxOccurs="unbounded">
              <xs:annotation>
                <xs:documentation>
                  <![CDATA[List of required reagent kit tracking for the master step.]]>
                </xs:documentation>
              </xs:annotation>
            </xs:element>
          </xs:sequence>
        </xs:complexType>
      </xs:element>
      <xs:element name="permitted-control-types" minOccurs="0">
        <xs:annotation>
          <xs:documentation>
            <![CDATA[List of permitted control types for the master step.]]>
          </xs:documentation>
        </xs:annotation>
        <xs:complexType>
          <xs:sequence>
            <xs:element name="control-type" type="ptp:control-type-link" minOccurs="0" maxOccurs="unbounded">
              <xs:annotation>
                <xs:documentation>
                  <![CDATA[List of permitted control types for the master step.]]>
                </xs:documentation>
              </xs:annotation>
            </xs:element>
          </xs:sequence>
        </xs:complexType>
      </xs:element>
      <xs:element name="permitted-instrument-types" minOccurs="0">
        <xs:annotation>
          <xs:documentation>
            <![CDATA[List of permitted instrument types for the master step]]>
          </xs:documentation>
        </xs:annotation>
        <xs:complexType>
          <xs:sequence>
            <xs:element name="instrument-type" type="xs:string" minOccurs="0" maxOccurs="unbounded">
              <xs:annotation>
                <xs:documentation>
                  <![CDATA[List of permitted instrument types for the master step]]>
                </xs:documentation>
              </xs:annotation>
            </xs:element>
          </xs:sequence>
        </xs:complexType>
      </xs:element>
      <xs:element name="queue-fields" minOccurs="0">
        <xs:annotation>
          <xs:documentation>
            <![CDATA[UDF columns that will be displayed on
the queue views of child steps]]>
          </xs:documentation>
        </xs:annotation>
        <xs:complexType>
          <xs:sequence>
            <xs:element name="queue-field" type="ptp:queuefield" minOccurs="0" maxOccurs="unbounded">
              <xs:annotation>
                <xs:documentation>
                  <![CDATA[UDF columns that will be displayed on
the queue views of child steps]]>
                </xs:documentation>
              </xs:annotation>
            </xs:element>
          </xs:sequence>
        </xs:complexType>
      </xs:element>
      <xs:element name="ice-bucket-fields" minOccurs="0">
        <xs:annotation>
          <xs:documentation>
            <![CDATA[UDF columns that will be displayed on
the ice bucket views of child steps]]>
          </xs:documentation>
        </xs:annotation>
        <xs:complexType>
          <xs:sequence>
            <xs:element name="ice-bucket-field" type="ptp:icebucketfield" minOccurs="0" maxOccurs="unbounded">
              <xs:annotation>
                <xs:documentation>
                  <![CDATA[UDF columns that will be displayed on
the ice bucket views of child steps]]>
                </xs:documentation>
              </xs:annotation>
            </xs:element>
          </xs:sequence>
        </xs:complexType>
      </xs:element>
      <xs:element name="step-fields" minOccurs="0">
        <xs:annotation>
          <xs:documentation>
            <![CDATA[Fields that will be displayed on the
work view of child step]]>
          </xs:documentation>
        </xs:annotation>
        <xs:complexType>
          <xs:sequence>
            <xs:element name="step-field" type="ptp:field" minOccurs="0" maxOccurs="unbounded">
              <xs:annotation>
                <xs:documentation>
                  <![CDATA[Fields that will be displayed on the
work view of child step]]>
                </xs:documentation>
              </xs:annotation>
            </xs:element>
          </xs:sequence>
        </xs:complexType>
      </xs:element>
      <xs:element name="sample-fields" minOccurs="0">
        <xs:annotation>
          <xs:documentation>
            <![CDATA[Editable Fields that will be displayed
on the samples contained in the work view of child steps]]>
          </xs:documentation>
        </xs:annotation>
        <xs:complexType>
          <xs:sequence>
            <xs:element name="sample-field" type="ptp:field" minOccurs="0" maxOccurs="unbounded">
              <xs:annotation>
                <xs:documentation>
                  <![CDATA[Editable Fields that will be displayed
on the samples contained in the work view of child steps]]>
                </xs:documentation>
              </xs:annotation>
            </xs:element>
          </xs:sequence>
        </xs:complexType>
      </xs:element>
      <xs:element name="step-properties" minOccurs="0">
        <xs:annotation>
          <xs:documentation>
            <![CDATA[A list of extra properties relevant to the master step]]>
          </xs:documentation>
        </xs:annotation>
        <xs:complexType>
          <xs:sequence>
            <xs:element name="step-property" type="ptp:step-property" minOccurs="0" maxOccurs="unbounded">
              <xs:annotation>
                <xs:documentation>
                  <![CDATA[A list of extra properties relevant to the master step]]>
                </xs:documentation>
              </xs:annotation>
            </xs:element>
          </xs:sequence>
        </xs:complexType>
      </xs:element>
      <xs:element name="step-setup" type="ptp:step-setup" minOccurs="0">
        <xs:annotation>
          <xs:documentation>
            <![CDATA[The step setup details for the master step.]]>
          </xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="epp-triggers" minOccurs="0">
        <xs:annotation>
          <xs:documentation>
            <![CDATA[A list of EPP triggers for the master step.]]>
          </xs:documentation>
        </xs:annotation>
        <xs:complexType>
          <xs:sequence>
            <xs:element name="epp-trigger" type="ptp:epp-trigger" minOccurs="0" maxOccurs="unbounded">
              <xs:annotation>
                <xs:documentation>
                  <![CDATA[A list of EPP triggers for the master step.]]>
                </xs:documentation>
              </xs:annotation>
            </xs:element>
          </xs:sequence>
        </xs:complexType>
      </xs:element>
    </xs:sequence>
    <xs:attribute name="name" type="xs:string">
      <xs:annotation>
        <xs:documentation>
          <![CDATA[The name of the process type.
<br/>Always returns with GET: Yes]]>
        </xs:documentation>
      </xs:annotation>
    </xs:attribute>
    <xs:attribute name="uri" type="xs:anyURI">
      <xs:annotation>
        <xs:documentation>
          <![CDATA[The URI of the process type.
<br/>Always returns with GET: Yes]]>
        </xs:documentation>
      </xs:annotation>
    </xs:attribute>
  </xs:complexType>
  <xs:complexType name="container-type-link">
    <xs:annotation>
      <xs:documentation>
        <![CDATA[Container-type-link is a child element type of containerTypes and provides a URI linking to the detailed representation of a ContainerType.]]>
      </xs:documentation>
    </xs:annotation>
    <xs:attribute name="name" type="xs:string">
      <xs:annotation>
        <xs:documentation>
          <![CDATA[The name of the ContainerType.
<br/>Always returns with GET: Yes]]>
        </xs:documentation>
      </xs:annotation>
    </xs:attribute>
    <xs:attribute name="uri" type="xs:anyURI">
      <xs:annotation>
        <xs:documentation>
          <![CDATA[The URI of the ContainerType.
<br/>Always returns with GET: Yes]]>
        </xs:documentation>
      </xs:annotation>
    </xs:attribute>
  </xs:complexType>
  <xs:complexType name="control-type-link">
    <xs:annotation>
      <xs:documentation>
        <![CDATA[Control-type-link is a child element type of controlTypes and provides a URI linking to the detailed representation of a ControlType.]]>
      </xs:documentation>
    </xs:annotation>
    <xs:attribute name="name" type="xs:string">
      <xs:annotation>
        <xs:documentation>
          <![CDATA[The name of the ControlType.
<br/>Always returns with GET: Yes]]>
        </xs:documentation>
      </xs:annotation>
    </xs:attribute>
    <xs:attribute name="uri" type="xs:anyURI">
      <xs:annotation>
        <xs:documentation>
          <![CDATA[The URI of the ControlType.
<br/>Always returns with GET: Yes]]>
        </xs:documentation>
      </xs:annotation>
    </xs:attribute>
  </xs:complexType>
  <xs:complexType name="epp-trigger">
    <xs:annotation>
      <xs:documentation>
        <![CDATA[EPP trigger configuration for the Master Step.]]>
      </xs:documentation>
    </xs:annotation>
    <xs:attribute name="name" type="xs:string">
      <xs:annotation>
        <xs:documentation>
          <![CDATA[The master step's process parameter name.
<br/>Always returns with GET: Yes]]>
        </xs:documentation>
      </xs:annotation>
    </xs:attribute>
    <xs:attribute name="type" type="ptp:trigger-type">
      <xs:annotation>
        <xs:documentation>
          <![CDATA[The master step's trigger type.
<br/>Always returns with GET: Yes]]>
        </xs:documentation>
      </xs:annotation>
    </xs:attribute>
    <xs:attribute name="point" type="ptp:trigger-point">
      <xs:annotation>
        <xs:documentation>
          <![CDATA[The master step's trigger point.
<br/>Always returns with GET: No; if the type is <tt>TriggerType.MANUAL</tt> or <tt>TriggerType.UNUSED</tt>, the trigger point will not have a value.]]>
        </xs:documentation>
      </xs:annotation>
    </xs:attribute>
    <xs:attribute name="status" type="ptp:trigger-status">
      <xs:annotation>
        <xs:documentation>
          <![CDATA[The master step's trigger status.
<br/>Always returns with GET: No; if the type is <tt>TriggerType.MANUAL</tt> or <tt>TriggerType.UNUSED</tt>, the trigger status will not have a value.]]>
        </xs:documentation>
      </xs:annotation>
    </xs:attribute>
  </xs:complexType>
  <xs:simpleType name="invocation-type">
    <xs:annotation>
      <xs:documentation>
        <![CDATA[The available options for epp invocation type.]]>
      </xs:documentation>
    </xs:annotation>
    <xs:restriction base="xs:string">
      <xs:enumeration value="PostProcess"/>
      <xs:enumeration value="PreProcess"/>
    </xs:restriction>
  </xs:simpleType>
  <xs:complexType name="field">
    <xs:annotation>
      <xs:documentation>
        <![CDATA[A field has a name and an attach to value,
these fields are used to keep track of all
the User Defined and Built In values for
samples in queue and work view as well as
those on the actual step]]>
      </xs:documentation>
    </xs:annotation>
    <xs:attribute name="name" type="xs:string">
      <xs:annotation>
        <xs:documentation>
          <![CDATA[The name of the Field.]]>
        </xs:documentation>
      </xs:annotation>
    </xs:attribute>
    <xs:attribute name="attach-to" type="xs:string">
      <xs:annotation>
        <xs:documentation>
          <![CDATA[The element that the Field will attach to.]]>
        </xs:documentation>
      </xs:annotation>
    </xs:attribute>
    <xs:attribute name="style" type="ptp:style">
      <xs:annotation>
        <xs:documentation>
          <![CDATA[The style of field, either 'USER_DEFINED' or 'BUILT_IN'.
If the style attribute is omitted from a PUT request, the system will act in the same way that it did before
the style attribute was available, and give preference to using the built-in field when both a
built-in and UDF match the name and attach-to.
<br/>Always returns with GET: Yes
<br/>Updatable with PUT: Yes
<br/>Required for PUT: No]]>
        </xs:documentation>
      </xs:annotation>
    </xs:attribute>
  </xs:complexType>
  <xs:complexType name="file">
    <xs:annotation>
      <xs:documentation>
        <![CDATA[The file element describes a shared result file output that will be displayed in the step-setup view.]]>
      </xs:documentation>
    </xs:annotation>
    <xs:sequence>
      <xs:element name="message" type="xs:string" minOccurs="0">
        <xs:annotation>
          <xs:documentation>
            <![CDATA[The message to display for this shared result file in the step-setup view.]]>
          </xs:documentation>
        </xs:annotation>
      </xs:element>
    </xs:sequence>
    <xs:attribute name="shared-result-file-index" type="xs:string">
      <xs:annotation>
        <xs:documentation>
          <![CDATA[The shared result file output index of the step output.]]>
        </xs:documentation>
      </xs:annotation>
    </xs:attribute>
  </xs:complexType>
  <xs:complexType name="icebucketfield">
    <xs:annotation>
      <xs:documentation>
        <![CDATA[A field has a name and an attach to value,
these fields are used to keep track of all the UDF
values for samples in ice bucket view]]>
      </xs:documentation>
    </xs:annotation>
    <xs:complexContent>
      <xs:extension base="ptp:field">
        <xs:attribute name="detail" type="xs:boolean">
          <xs:annotation>
            <xs:documentation>
              <![CDATA[A flag indicating if this field is for detail or not.]]>
            </xs:documentation>
          </xs:annotation>
        </xs:attribute>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:simpleType name="output-generation-type">
    <xs:annotation>
      <xs:documentation>
        <![CDATA[The available options for output-type generation.]]>
      </xs:documentation>
    </xs:annotation>
    <xs:restriction base="xs:string">
      <xs:enumeration value="PerInput"/>
      <xs:enumeration value="PerAllInputs"/>
      <xs:enumeration value="PerReagentLabel"/>
    </xs:restriction>
  </xs:simpleType>
  <xs:complexType name="process-input">
    <xs:annotation>
      <xs:documentation>
        <![CDATA[Process-input is a child element of process type specifying the available input types for the process]]>
      </xs:documentation>
    </xs:annotation>
    <xs:sequence>
      <xs:element name="artifact-type" type="xs:string" minOccurs="0">
        <xs:annotation>
          <xs:documentation>
            <![CDATA[The artifact type for the input.
<br/>Always returns with GET: Yes]]>
          </xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="display-name" type="xs:string" minOccurs="0">
        <xs:annotation>
          <xs:documentation>
            <![CDATA[The display name for the input.
<br/>Always returns with GET: Yes]]>
          </xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="remove-working-flag" type="xs:boolean" minOccurs="0">
        <xs:annotation>
          <xs:documentation>
            <![CDATA[Deprecated, this property is no longer supported.
Whether the working flag should be removed from the input when the process runs.
<br/>Always returns with GET: No]]>
          </xs:documentation>
        </xs:annotation>
      </xs:element>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="process-output">
    <xs:annotation>
      <xs:documentation>
        <![CDATA[Process-output is a child element of process type specifying the configured output generation types for the process]]>
      </xs:documentation>
    </xs:annotation>
    <xs:sequence>
      <xs:element name="artifact-type" type="xs:string" minOccurs="0">
        <xs:annotation>
          <xs:documentation>
            <![CDATA[Artifact type for this output.
<br/>Always returns with GET: Yes]]>
          </xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="display-name" type="xs:string" minOccurs="0">
        <xs:annotation>
          <xs:documentation>
            <![CDATA[The display name for the input.
<br/>Always returns with GET: Yes]]>
          </xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="output-generation-type" type="ptp:output-generation-type" minOccurs="0">
        <xs:annotation>
          <xs:documentation>
            <![CDATA[Specifies how the outputs are generated in
relation to the inputs (COMPOUND, PER_REAGENT_LABEL, or PER_INPUT).
<br/>Always returns with GET: Yes]]>
          </xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="variability-type" type="ptp:variability-type" minOccurs="0">
        <xs:annotation>
          <xs:documentation>
            <![CDATA[Specifies how the process determines the
number of outputs to generated (FIXED, VARIABLE, or VARIABLE_BY_INPUT).
<br/>Always returns with GET: Yes for FIXED output, No otherwise]]>
          </xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="number-of-outputs" type="xs:int" minOccurs="0">
        <xs:annotation>
          <xs:documentation>
            <![CDATA[Number of outputs to generate (only applies if variabilityType is FIXED).
<br/>Always returns with GET: Yes]]>
          </xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="output-name" type="xs:string" minOccurs="0">
        <xs:annotation>
          <xs:documentation>
            <![CDATA[Pattern for specifying how the output name is generated.
<br/>Always returns with GET: Yes]]>
          </xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="field-definition" type="cnf:field-link" minOccurs="0" maxOccurs="unbounded">
        <xs:annotation>
          <xs:documentation>
            <![CDATA[Deprecated, these field definitions are ignored as of Clarity LIMS 5.0.
Each field definition provides a URI linking to the configuration of a user-defined field for the output type.
<br/>Always returns with GET: No]]>
          </xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="assign-working-flag" type="xs:boolean" minOccurs="0">
        <xs:annotation>
          <xs:documentation>
            <![CDATA[Deprecated, this property is no longer supported.
Whether the working flag should be assigned to the output when the process runs.
<br/>Always returns with GET: No]]>
          </xs:documentation>
        </xs:annotation>
      </xs:element>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="parameter">
    <xs:annotation>
      <xs:documentation>
        <![CDATA[The parameter element integrates the process with the External Program Integration plug-in (EPP).
When a user runs the process, the system automatically issue a command, or submits files and
scripts to third-party programs for further processing. The parameter element is a child
element of process-type.]]>
      </xs:documentation>
    </xs:annotation>
    <xs:sequence>
      <xs:element name="file" type="xs:string" minOccurs="0">
        <xs:annotation>
          <xs:documentation>
            <![CDATA[Deprecated, this property is no longer supported.
The file of the parameter.
<br/>Always returns with GET: No]]>
          </xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="string" type="xs:string" minOccurs="0">
        <xs:annotation>
          <xs:documentation>
            <![CDATA[The value of the parameter.
<br/>Always returns with GET: No]]>
          </xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="run-program-per-event" type="xs:boolean" minOccurs="0">
        <xs:annotation>
          <xs:documentation>
            <![CDATA[Deprecated, this property is no longer supported.
Should the EPP run once for each process related event?
<br/>Always returns with GET: Yes]]>
          </xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="channel" type="xs:string" minOccurs="0">
        <xs:annotation>
          <xs:documentation>
            <![CDATA[The epp channel of this script.
<br/>Always returns with GET: No]]>
          </xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="invocation-type" type="ptp:invocation-type" minOccurs="0">
        <xs:annotation>
          <xs:documentation>
            <![CDATA[Deprecated, this property is no longer supported.
The epp invocation type of this script.
<br/>Always returns with GET: No]]>
          </xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element ref="file:file" minOccurs="0" maxOccurs="unbounded">
        <xs:annotation>
          <xs:documentation>
            <![CDATA[Each File provides a URI linking to the detailed representation of a File associated with the Process Parameter.
<br/>Always returns with GET: No, however if one or more files are attached to a given Process Parameter they will be returned.
<br/>Creatable with POST: No
<br/>Required for POST: No
<br/>Updatable with PUT: No
<br/>Required for PUT: No, files cannot be modified through the Process Parameter resource. Use the Files resource instead.]]>
          </xs:documentation>
        </xs:annotation>
      </xs:element>
    </xs:sequence>
    <xs:attribute name="name" type="xs:string">
      <xs:annotation>
        <xs:documentation>
          <![CDATA[The name of the process type parameter.
<br/>Always returns with GET: Yes]]>
        </xs:documentation>
      </xs:annotation>
    </xs:attribute>
    <xs:attribute name="uri" type="xs:anyURI">
      <xs:annotation>
        <xs:documentation>
          <![CDATA[The URI linking to the process parameter / automation.
<br/>Always returns with GET: Yes]]>
        </xs:documentation>
      </xs:annotation>
    </xs:attribute>
  </xs:complexType>
  <xs:complexType name="process-type-attribute">
    <xs:annotation>
      <xs:documentation>
        <![CDATA[Process-type-attributes is a child element of process type containing key/value pairs for
setting specific attributes that can be set for process types. This information
contains internally used parameters that will change. These parameters are
suitable for use when copying process types, but should not be manipulated.]]>
      </xs:documentation>
    </xs:annotation>
    <xs:simpleContent>
      <xs:extension base="xs:string">
        <xs:attribute name="name" type="xs:string">
          <xs:annotation>
            <xs:documentation>
              <![CDATA[Specifies which attribute that the value will be set to.
<br/>Always returns with GET: Yes]]>
            </xs:documentation>
          </xs:annotation>
        </xs:attribute>
      </xs:extension>
    </xs:simpleContent>
  </xs:complexType>
  <xs:complexType name="queuefield">
    <xs:annotation>
      <xs:documentation>
        <![CDATA[A field has a name and an attach to value,
these fields are used to keep track of all the UDF
values for samples in queue and work view as well as
those on the actual step]]>
      </xs:documentation>
    </xs:annotation>
    <xs:complexContent>
      <xs:extension base="ptp:field">
        <xs:attribute name="detail" type="xs:boolean">
          <xs:annotation>
            <xs:documentation>
              <![CDATA[A flag indicating if this field is for detail or not.]]>
            </xs:documentation>
          </xs:annotation>
        </xs:attribute>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:complexType name="reagent-kit-link">
    <xs:annotation>
      <xs:documentation>
        <![CDATA[Reagent-kit-link is a child element type of reagentKits and provides a URI linking to the detailed representation of a ReagentKit.]]>
      </xs:documentation>
    </xs:annotation>
    <xs:attribute name="name" type="xs:string">
      <xs:annotation>
        <xs:documentation>
          <![CDATA[The name of the ReagentKit.
<br/>Always returns with GET: Yes]]>
        </xs:documentation>
      </xs:annotation>
    </xs:attribute>
    <xs:attribute name="uri" type="xs:anyURI">
      <xs:annotation>
        <xs:documentation>
          <![CDATA[The URI of the ReagentKit.
<br/>Always returns with GET: Yes]]>
        </xs:documentation>
      </xs:annotation>
    </xs:attribute>
  </xs:complexType>
  <xs:complexType name="step-property">
    <xs:annotation>
      <xs:documentation>
        <![CDATA[Step-property is a child element of master step containing key/value pairs for
setting specific attributes of master steps.
This information contains internally used properties that will change. These properties are
suitable for use when copying master steps, but should not be manipulated.]]>
      </xs:documentation>
    </xs:annotation>
    <xs:attribute name="name" type="xs:string">
      <xs:annotation>
        <xs:documentation>
          <![CDATA[The property name.]]>
        </xs:documentation>
      </xs:annotation>
    </xs:attribute>
    <xs:attribute name="value" type="xs:string">
      <xs:annotation>
        <xs:documentation>
          <![CDATA[The property value.]]>
        </xs:documentation>
      </xs:annotation>
    </xs:attribute>
  </xs:complexType>
  <xs:complexType name="step-setup">
    <xs:annotation>
      <xs:documentation>
        <![CDATA[Step-setup is a child element that describes the shared result file placeholder information for the step-setup view.]]>
      </xs:documentation>
    </xs:annotation>
    <xs:sequence>
      <xs:element name="files" minOccurs="0">
        <xs:annotation>
          <xs:documentation>
            <![CDATA[List of shared result file outputs.]]>
          </xs:documentation>
        </xs:annotation>
        <xs:complexType>
          <xs:sequence>
            <xs:element name="file" type="ptp:file" minOccurs="0" maxOccurs="unbounded">
              <xs:annotation>
                <xs:documentation>
                  <![CDATA[List of shared result file outputs.]]>
                </xs:documentation>
              </xs:annotation>
            </xs:element>
          </xs:sequence>
        </xs:complexType>
      </xs:element>
    </xs:sequence>
    <xs:attribute name="enabled" type="xs:boolean">
      <xs:annotation>
        <xs:documentation>
          <![CDATA[A flag indicating if the step-setup view should be enabled or not.]]>
        </xs:documentation>
      </xs:annotation>
    </xs:attribute>
  </xs:complexType>
  <xs:complexType name="type-definition">
    <xs:annotation>
      <xs:documentation>
        <![CDATA[Type-definition is a child element of process type providing a URI linking to the configuration of a user-defined type for the process type.]]>
      </xs:documentation>
    </xs:annotation>
    <xs:attribute name="name" type="xs:string">
      <xs:annotation>
        <xs:documentation>
          <![CDATA[The name of the user-defined type.
<br/>Always returns with GET: Yes]]>
        </xs:documentation>
      </xs:annotation>
    </xs:attribute>
    <xs:attribute name="uri" type="xs:anyURI">
      <xs:annotation>
        <xs:documentation>
          <![CDATA[The URI linking to the configuration of a user-defined type for the process type.
<br/>Always returns with GET: Yes]]>
        </xs:documentation>
      </xs:annotation>
    </xs:attribute>
  </xs:complexType>
  <xs:simpleType name="variability-type">
    <xs:annotation>
      <xs:documentation>
        <![CDATA[The available options for output-type variability.]]>
      </xs:documentation>
    </xs:annotation>
    <xs:restriction base="xs:string">
      <xs:enumeration value="Fixed"/>
      <xs:enumeration value="Variable"/>
      <xs:enumeration value="VariableByInput"/>
    </xs:restriction>
  </xs:simpleType>
  <xs:simpleType name="style">
    <xs:annotation>
      <xs:documentation>
        <![CDATA[The different styles of Fields.]]>
      </xs:documentation>
    </xs:annotation>
    <xs:restriction base="xs:string">
      <xs:enumeration value="USER_DEFINED"/>
      <xs:enumeration value="BUILT_IN"/>
    </xs:restriction>
  </xs:simpleType>
  <xs:simpleType name="trigger-point">
    <xs:annotation>
      <xs:documentation>
        <![CDATA[The trigger-point enumeration lists the possible values of the EPP Trigger point attribute.]]>
      </xs:documentation>
    </xs:annotation>
    <xs:restriction base="xs:string">
      <xs:enumeration value="BEFORE"/>
      <xs:enumeration value="AFTER"/>
    </xs:restriction>
  </xs:simpleType>
  <xs:simpleType name="trigger-status">
    <xs:annotation>
      <xs:documentation>
        <![CDATA[The trigger-status enumeration lists the possible values of the EPP Trigger status attribute.]]>
      </xs:documentation>
    </xs:annotation>
    <xs:restriction base="xs:string">
      <xs:enumeration value="STARTED"/>
      <xs:enumeration value="STEP_SETUP"/>
      <xs:enumeration value="POOLING"/>
      <xs:enumeration value="PLACEMENT"/>
      <xs:enumeration value="ADD_REAGENT"/>
      <xs:enumeration value="RECORD_DETAILS"/>
      <xs:enumeration value="COMPLETE"/>
    </xs:restriction>
  </xs:simpleType>
  <xs:simpleType name="trigger-type">
    <xs:annotation>
      <xs:documentation>
        <![CDATA[The trigger-type enumeration lists the possible values of the EPP Trigger type attribute.]]>
      </xs:documentation>
    </xs:annotation>
    <xs:restriction base="xs:string">
      <xs:enumeration value="MANUAL"/>
      <xs:enumeration value="AUTOMATIC"/>
      <xs:enumeration value="UNUSED"/>
    </xs:restriction>
  </xs:simpleType>
  <xs:complexType name="process-types">
    <xs:annotation>
      <xs:documentation>
        <![CDATA[The representation for a list of process type links.<br/><br/>
The system enforces a maximum number of elements when generating the list of links. When the size of
the request result set is larger than the system maximum, the list represents a paged view of the overall
results, and the previous-page and next-page elements provide URIs linking to the previous or next page
of links in the overall results.]]>
      </xs:documentation>
    </xs:annotation>
    <xs:sequence>
      <xs:element name="process-type" type="ptp:process-type-link" minOccurs="0" maxOccurs="unbounded">
        <xs:annotation>
          <xs:documentation>
            <![CDATA[Process-type provides a URI linking to the detailed representation of a process type.]]>
          </xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="previous-page" type="ri:page" minOccurs="0">
        <xs:annotation>
          <xs:documentation>
            <![CDATA[When working with large lists of process types,
the previous-page element provides a URI that links to the previous page of process types.]]>
          </xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="next-page" type="ri:page" minOccurs="0">
        <xs:annotation>
          <xs:documentation>
            <![CDATA[When working with large lists of process types,
the next-page element provides a URI that links to the next page of process types.]]>
          </xs:documentation>
        </xs:annotation>
      </xs:element>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="process-type-link">
    <xs:annotation>
      <xs:documentation>
        <![CDATA[Process-type-link is a child element type of process types and provides a URI linking to the detailed representation of a process type.]]>
      </xs:documentation>
    </xs:annotation>
    <xs:attribute name="name" type="xs:string">
      <xs:annotation>
        <xs:documentation>
          <![CDATA[The name of the process type.]]>
        </xs:documentation>
      </xs:annotation>
    </xs:attribute>
    <xs:attribute name="uri" type="xs:anyURI">
      <xs:annotation>
        <xs:documentation>
          <![CDATA[The URI of the process type.]]>
        </xs:documentation>
      </xs:annotation>
    </xs:attribute>
  </xs:complexType>
</xs:schema>
