src/main/xsd/researcher.xsd

<xs:schema version="1.0" targetNamespace="http://genologics.com/ri/researcher" xmlns:udf="http://genologics.com/ri/userdefined" xmlns:res="http://genologics.com/ri/researcher" xmlns:ri="http://genologics.com/ri" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import namespace="http://genologics.com/ri/userdefined" schemaLocation="userdefined.xsd"/>
  <xs:import namespace="http://genologics.com/ri" schemaLocation="ri.xsd"/>
  <xs:element name="researcher" type="res:researcher"/>
  <xs:element name="researchers" type="res:researchers"/>
  <xs:complexType name="researcher">
    <xs:annotation>
      <xs:documentation>
        <![CDATA[The detailed representation of a researcher.]]>
      </xs:documentation>
    </xs:annotation>
    <xs:sequence>
      <xs:element name="first-name" type="xs:string" minOccurs="0">
        <xs:annotation>
          <xs:documentation>
            <![CDATA[The researcher's first name.
<br/>Always returns with GET: No
<br/>Creatable with POST: Yes
<br/>Required for POST: No
<br/>Updatable with PUT: Yes
<br/>Required for PUT: No]]>
          </xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="last-name" type="xs:string" minOccurs="0">
        <xs:annotation>
          <xs:documentation>
            <![CDATA[The researcher's last name.
<br/>Always returns with GET: No
<br/>Creatable with POST: Yes
<br/>Required for POST: No
<br/>Updatable with PUT: Yes
<br/>Required for PUT: No]]>
          </xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="phone" type="xs:string" minOccurs="0">
        <xs:annotation>
          <xs:documentation>
            <![CDATA[The researcher's phone number.
<br/>Always returns with GET: No
<br/>Creatable with POST: Yes
<br/>Required for POST: No
<br/>Updatable with PUT: Yes
<br/>Required for PUT: No]]>
          </xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="fax" type="xs:string" minOccurs="0">
        <xs:annotation>
          <xs:documentation>
            <![CDATA[The researcher's fax number.
<br/>Always returns with GET: No
<br/>Creatable with POST: Yes
<br/>Required for POST: No
<br/>Updatable with PUT: Yes
<br/>Required for PUT: No]]>
          </xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="email" type="xs:string" minOccurs="0">
        <xs:annotation>
          <xs:documentation>
            <![CDATA[The researcher's e-mail address.
<br/>Always returns with GET: Yes
<br/>Creatable with POST: Yes
<br/>Required for POST: Yes
<br/>Updatable with PUT: Yes
<br/>Required for PUT: Yes]]>
          </xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="lab" type="res:lab" minOccurs="0">
        <xs:annotation>
          <xs:documentation>
            <![CDATA[A URI that links to the lab that the researcher is associated with.
<br/>Always returns with GET: No
<br/>Creatable with POST: Yes
<br/>Required for POST: No
<br/>Updatable with PUT: Yes
<br/>Required for PUT: No]]>
          </xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element ref="udf:type" minOccurs="0">
        <xs:annotation>
          <xs:documentation>
            <![CDATA[The User-Defined Type that is associated with the researcher.
<br/>Always returns with GET: No
<br/>Creatable with POST: Yes
<br/>Required for POST: No, unless the UDT has been configured as required.
<br/>Updatable with PUT: Yes
<br/>Required for PUT: No, unless the UDT has been configured as required. If a current UDT is not provided, existing values are deleted.]]>
          </xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element ref="udf:field" minOccurs="0" maxOccurs="unbounded">
        <xs:annotation>
          <xs:documentation>
            <![CDATA[A User-Defined Field that is associated with the researcher.
This element is repeated for each UDF associated with the researcher.
<br/>Always returns with GET: No
<br/>Creatable with POST: Yes
<br/>Required for POST: No, unless the UDF has been configured as required.
<br/>Updatable with PUT: Yes
<br/>Required for PUT: No, unless the UDF has been configured as required. If a current UDF is not provided, existing values are deleted.]]>
          </xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element ref="ri:externalid" minOccurs="0" maxOccurs="unbounded">
        <xs:annotation>
          <xs:documentation>
            <![CDATA[An identifier that allows an external system to retrieve information about the researcher.
<br/>Always returns with GET: No
<br/>Creatable with POST: Yes
<br/>Required for POST: No
<br/>Updatable with PUT: Yes
<br/>Required for PUT: No]]>
          </xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="credentials" type="res:credentials" minOccurs="0">
        <xs:annotation>
          <xs:documentation>
            <![CDATA[The researcher's system access credentials.
<br/>Always returns with GET: No
<br/>Creatable with POST: Yes
<br/>Required for POST: No
<br/>Updatable with PUT: Yes
<br/>Required for PUT: No]]>
          </xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="initials" type="xs:string" minOccurs="0">
        <xs:annotation>
          <xs:documentation>
            <![CDATA[The researchers initials
<br/>Always returns with GET: Yes
<br/>Creatable with POST: Yes
<br/>Required for POST: Yes, must be 3 alphanumeric characters
<br/>Updatable with PUT: Yes
<br/>Required for PUT: Yes, must be 3 alphanumeric characters]]>
          </xs:documentation>
        </xs:annotation>
      </xs:element>
    </xs:sequence>
    <xs:attribute name="uri" type="xs:anyURI">
      <xs:annotation>
        <xs:documentation>
          <![CDATA[A URI that links to the XML representation of the researcher
<br/>Always returns with GET: Yes
<br/>Creatable with POST: No
<br/>Required for POST: No
<br/>Updatable with PUT: No
<br/>Required for PUT: No]]>
        </xs:documentation>
      </xs:annotation>
    </xs:attribute>
  </xs:complexType>
  <xs:complexType name="credentials">
    <xs:annotation>
      <xs:documentation>
        <![CDATA[The credentials element contains information about a researcher's access
to the client software interface. It is used only when a researcher is
given access to the system. It is not used when a researcher's
information is being stored for contact purposes only.]]>
      </xs:documentation>
    </xs:annotation>
    <xs:sequence>
      <xs:element name="username" type="xs:string" minOccurs="0">
        <xs:annotation>
          <xs:documentation>
            <![CDATA[The researcher's user name.
<br/>Always returns with GET: Yes
<br/>Creatable with POST: Yes
<br/>Required for POST: Yes
<br/>Updatable with PUT: Yes
<br/>Required for PUT: Yes]]>
          </xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="password" type="xs:string" minOccurs="0">
        <xs:annotation>
          <xs:documentation>
            <![CDATA[The researcher's password. This element is required when creating a new user or changing the user name of an existing user.
You can also use this element to change an existing user's password.
When submitting a PUT or POST request, passwords are submitted in plain text, and the API encodes the password
before storing it in the database. Password are never displayed in an XML response.
<br/>Always returns with GET: Never
<br/>Creatable with POST: Yes
<br/>Required for POST: Yes
<br/>Updatable with PUT: Yes
<br/>Required for PUT: No, unless updating username or password.]]>
          </xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="account-locked" type="xs:boolean" minOccurs="0">
        <xs:annotation>
          <xs:documentation>
            <![CDATA[The researcher's account status.
A value of 'true' indicates that the account can be used by the researcher.
A value of 'false' indicates that the account is locked and the researcher
cannot log into the system.
<br/>Always returns with GET: Yes
<br/>Creatable with POST: Yes
<br/>Required for POST: Yes
<br/>Updatable with PUT: Yes
<br/>Required for PUT: Yes]]>
          </xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="role" type="res:role" minOccurs="0" maxOccurs="unbounded">
        <xs:annotation>
          <xs:documentation>
            <![CDATA[The type of system access assigned to the researcher's user account.
<br/>Always returns with GET: Yes
<br/>Creatable with POST: Yes
<br/>Required for POST: Yes
<br/>Updatable with PUT: Yes
<br/>Required for PUT: No, but existing roles must be included or the system will remove the roles not present]]>
          </xs:documentation>
        </xs:annotation>
      </xs:element>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="lab">
    <xs:annotation>
      <xs:documentation>
        <![CDATA[Lab is a child element of researcher and provides a URI linking to the detailed representation of the lab for the researcher.]]>
      </xs:documentation>
    </xs:annotation>
    <xs:attribute name="uri" type="xs:anyURI">
      <xs:annotation>
        <xs:documentation>
          <![CDATA[A URI that links to the lab that the researcher is associated with.
<br/>Always returns with GET: Yes
<br/>Creatable with POST: Yes
<br/>Required for POST: Yes
<br/>Updatable with PUT: Yes
<br/>Required for PUT: No, but old lab value will remain]]>
        </xs:documentation>
      </xs:annotation>
    </xs:attribute>
  </xs:complexType>
  <xs:complexType name="role">
    <xs:annotation>
      <xs:documentation>
        <![CDATA[The role element defines a researcher's level of access in the system.
You can repeat the element to provide a researcher with access to more
than one area of the system. When submitting a PUT request to update a researcher's credentials
(any child elements within the credentials element), your XML must include the current roles for the researcher.
If you do not include all of the current roles, the system will remove the current data and the researcher will
no longer have access to the system.]]>
      </xs:documentation>
    </xs:annotation>
    <xs:attribute name="roleName" type="xs:string">
      <xs:annotation>
        <xs:documentation>
          <![CDATA[The name of the security role assigned to the researcher.
Acceptable values are: "systemadministrator", "administrator", "labtech", and "webclient".
<br/>Always returns with GET: Yes
<br/>Creatable with POST: Yes
<br/>Required for POST: Yes
<br/>Updatable with PUT: Yes
<br/>Required for PUT: Yes]]>
        </xs:documentation>
      </xs:annotation>
    </xs:attribute>
  </xs:complexType>
  <xs:complexType name="researchers">
    <xs:annotation>
      <xs:documentation>
        <![CDATA[The representation of a list of researcher links.
<p>The system enforces a maximum number of elements when generating the list of links. When the size of
the request result set is larger than the system maximum, the list represents a paged view of the overall
results, and the previous-page and next-page elements provide URIs linking to the previous or next page
of links in the overall results.
</p>]]>
      </xs:documentation>
    </xs:annotation>
    <xs:sequence>
      <xs:element name="researcher" type="res:researcher-link" minOccurs="0" maxOccurs="unbounded">
        <xs:annotation>
          <xs:documentation>
            <![CDATA[Researcher provides a URI linking to the detailed representation of a researcher.]]>
          </xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="previous-page" type="ri:page" minOccurs="0">
        <xs:annotation>
          <xs:documentation>
            <![CDATA[When working with large lists of researchers,
the previous-page element provides a URI that links to the previous page of researchers.]]>
          </xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="next-page" type="ri:page" minOccurs="0">
        <xs:annotation>
          <xs:documentation>
            <![CDATA[When working with large lists of researchers,
the next-page element provides a URI that links to the next page of researchers.]]>
          </xs:documentation>
        </xs:annotation>
      </xs:element>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="researcher-link" final="#all">
    <xs:annotation>
      <xs:documentation>
        <![CDATA[Researcher-link is a child element type of researchers and provides a URI linking to the detailed representation of a researcher.]]>
      </xs:documentation>
    </xs:annotation>
    <xs:sequence>
      <xs:element name="first-name" type="xs:string" minOccurs="0">
        <xs:annotation>
          <xs:documentation>
            <![CDATA[The first name of the researcher.]]>
          </xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="last-name" type="xs:string" minOccurs="0">
        <xs:annotation>
          <xs:documentation>
            <![CDATA[The last name of the researcher.]]>
          </xs:documentation>
        </xs:annotation>
      </xs:element>
    </xs:sequence>
    <xs:attribute name="uri" type="xs:anyURI">
      <xs:annotation>
        <xs:documentation>
          <![CDATA[The URI of the researcher.]]>
        </xs:documentation>
      </xs:annotation>
    </xs:attribute>
  </xs:complexType>
</xs:schema>
